// Headers, general BEM blocks, etc...
.block-heading {
  &__title {
    @include h2-font-size;
    font-family: var(--title-font);
    font-weight: 800;
    line-height: 132%;
    color: var(--white-color);

    &_line {
      position: relative;

      padding-left: rem(20);
      @include adaptiveValue("margin-bottom", 70, 30);

      color: var(--text-color);

      &::before {
        content: '';
        position: absolute;
        top: 50%;
        left: 0;
        transform: translateY(-50%);

        display: inline-block;
        width: 6px;
        height: 30px;

        background-color: var(--primary-1);
        border-radius: 10px;
      }
    }
  }

  &__subtitle_upper {
    @include h5-font-size;
    font-family: var(--selected-font);
    font-weight: 800;
    line-height: 167%;
    letter-spacing: 0.251px;
    color: var(--white-color);
  }

  &__subtitle {
    @include h6-font-size;
    font-family: var(--title-font);
    font-weight: 500;
    line-height: 156%;
    letter-spacing: 0.251px;
    color: var(--white-color);
  }

  &__text {
  }
}


// Buttons
.button-inline {
  display: inline-block;

  font-size: var(--h4-font-size);
  font-weight: 800;
  line-height: 150%;
  font-family: var(--title-font);
  color: var(--white-color);
  text-decoration-line: underline;

  transition: all 0.3s ease 0s;
}

.button-general {
  display: inline-block;
  padding: rem(16) rem(72);

  background-color: var(--white-color);
  border-radius: 8px;

  & a {
    font-size: rem(24);
    text-align: center;
    font-weight: 700;
    color: var(--text-color);
  }
}

.button-transparent {
  display: inline-block;
  padding: rem(10) rem(25);

  border: 1px solid var(--white-color);
  border-radius: 4px;

  transition: all 0.3s ease 0s;

  & a {
    font-size: rem(12);
    text-align: center;
    font-weight: 500;
    color: var(--white-color);

    transition: all 0.3s ease 0s;
  }

  @media (hover: hover) {
    &:hover {
      background-color: var(--white-color);

      & a {
        color: var(--black-color);
      }
    }
  }
}


// Card zone
.card-zone {
  position: relative;

  &__block-heading {
    position: absolute;
    top: 50%;
    left: rem(20);
    z-index: 2;
    transform: translateY(-50%);

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    @include adaptiveValue("max-width", 185, 150);

    .block-heading__title {
      margin-bottom: rem(10);

      font-weight: 600;
    }

    .block-heading__subtitle {
      margin-bottom: rem(10);

      font-size: rem(14);
    }

    .block-heading__subtitle_upper {
      font-weight: 700;
    }
  }

  &__arrow {
    width: rem(24);
    height: rem(20);

    @include adaptiveValue("margin-top", 30, 15);
    @include adaptiveValue("margin-bottom", 40, 20);
    margin-left: rem(45);

    stroke: var(--white-color);
  }

  &__button-transparent {
  }

  &__image {
    width: 100%;
    @include adaptiveValue("height", 400, 300);
    aspect-ratio: 1;
    object-fit: cover;
    object-position: top;

    border-radius: 12px;
  }

  &_right {
    & .card-zone__block-heading {
      left: initial;
      right: rem(20);

      align-items: flex-end;
      text-align: right;
    }

    & .card-zone__arrow {
      margin-right: rem(45);
    }
  }

  &_gray {
    & .block-heading__title,
    & .block-heading__subtitle,
    & .block-heading__subtitle_upper {
      color: var(--text-color);
    }

    & .card-zone__arrow {
      stroke: var(--text-color);
    }

    & .card-zone__button-transparent {
       border: 1px solid var(--text-color);

      & a {
        color: var(--text-color);
      }

      @media (hover: hover) {
        &:hover {
          background-color: var(--text-color);

          & a {
            color: var(--white-color);
          }
        }
      }
    }
  }

  &[data-long-image] {
    .card-zone__block-heading {
      @include adaptiveValue("right", 100, 20);
    }
  }
}


// Categories block
.categories-block {
  flex: 1 1 auto;
  @media (min-width: rem(620)) {
    max-width: rem(400);
  }

  @media (min-width: rem(1260)) {
    max-width: rem(270);
  }

  &__link {
    @media (hover: hover) {
      &:hover .categories-block__arrow {
        transform: translateX(10px);
      }
    }
  }

  &__image {
    width: 100%;/*
    @media (min-width: rem(1260)) {
      max-width: rem(270);
    }*/

    border-radius: 10px;
    object-fit: cover;
  }

  &__info {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: rem(20);
  }

  &__block-heading {
    flex: 1 1 auto;

    .block-heading__title {
      margin-bottom: rem(5);

      font-size: var(--h5-font-size);
      font-weight: 700;
      line-height: 156%;
      color: var(--text-color);
    }

    .block-heading__subtitle {
      font-size: rem(13);
      font-weight: 500;
      line-height: 208%;
      color: var(--subtext-color);
    }
  }

  &__arrow {
    width: 18px;
    height: 18px;

    transition: all 0.3s ease 0s;
  }
}


// Clothes block
.clothes-block {
  position: relative;
  flex: 1 1 auto;

  @media (min-width: rem(620)) {
    max-width: rem(400);
  }

  &__heart {
    position: absolute;
    top: rem(26);
    right: rem(20);
    z-index: 2;

    width: rem(32);
    height: rem(32);
    border-radius: 50%;
    fill: var(--white-color);
    stroke: var(--text-color);

    transition: all 0.3s ease 0s;

    @media (hover: hover) {
      &:hover {
        cursor: pointer;
        stroke: var(--red-color);
        transform: scale(1.05);
      }
    }
  }

  &__link {
  }

  &__image {
    width: 100%;

    border-radius: 12px;
    object-fit: cover;

    user-select: none;
  }

  &__info {
    display: flex;
    justify-content: center;
    align-items: start;
    margin-top: rem(30);
  }

  &__block-heading {
    flex: 1 1 auto;

    .block-heading__title {
      margin-bottom: rem(5);

      font-size: rem(14);
      font-weight: 700;
      line-height: 156%;
      color: var(--text-color);
    }

    .block-heading__subtitle {
      font-size: rem(12);
      font-weight: 500;
      line-height: 208%;
      color: var(--subtext-color);
    }
  }

  &__price {
    display: flex;
    justify-content: center;
    align-items: center;
    width: rem(80);
    height: rem(35);

    background-color: #F6F6F6;
    border-radius: 8px;

    & p {
      font-size: rem(14);
      font-style: normal;
      font-weight: 700;
      color: var(--text-color);
    }
  }
}

// Testimonials block
.testimonial {
  max-width: rem(400);
  height: 100%;
  margin: 0 auto;
  padding: rem(24);

  border: 2px solid var(--subtext-color);
  border-radius: 10px;

  &__info {
    display: flex;
    justify-content: center;
    align-items: flex-start;
  }

  &__photo {
    width: rem(58);
    height: rem(58);

    object-fit: cover;
  }

  &__stars {
    flex: 1 1 auto;

    display: flex;
    justify-content: end;
    align-items: center;
    gap: rem(4);
    fill: var(--subtext-color);

    @for $i from 1 through 5 {
      &[data-stars-counter="#{$i}"] {
        svg:nth-child(-n + #{$i}) {
          fill: var(--primary-2);
        }
      }
    }

    & svg {
      width: rem(23);
      height: rem(23);
    }
  }

  &__block-heading {
    .block-heading__title {
      margin: rem(20) 0;

      font-size: rem(22);
      font-family: var(--title-font);
      font-weight: 500;
      letter-spacing: 0.44px;
      color: var(--text-color);
    }

    .block-heading__text {
      font-size: rem(14);
      font-weight: 400;
      font-style: normal;
      line-height: normal;
      letter-spacing: rem(0.28);
      color: var(--subtext-color);
    }
  }
}
