@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@800&family=Open+Sans:wght@500;700;800&family=Poppins:wght@400;500;600;700;800&display=swap");
:root {
  --display-font-size: 3.625rem;
  --h2-font-size: 2.125rem;
  --h3-font-size: 1.75rem;
  --h4-font-size: 1.25rem;
  --h5-font-size: 1.125rem;
  --h6-font-size: 1rem;
  --title-font:"Open Sans", serif;
  --text-font:"Poppins", serif;
  --selected-font:"Montserrat", serif;
  --white-color: #ffffff;
  --black-color: #000000;
  --red-color: #FF0000FF;
  --primary-1: #8A33FD;
  --primary-2: #FBD103;
  --text-color: #3C4242;
  --subtext-color: #7F7F7F;
}

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  color: #3C4242;
  line-height: 1;
  font-family: "Poppins", serif;
  font-size: 1rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body.menu-open {
  overflow: hidden;
}

input,
button,
textarea {
  font-family: "Poppins", serif;
  font-size: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: inherit;
}

a {
  color: inherit;
}

a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

.lock body {
  overflow: hidden;
  touch-action: none;
}
.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
.wrapper > main {
  flex: 1 1 auto;
}
.wrapper > * {
  min-width: 0;
}

/*
(i) Styles will be applied to
to all classes containing *__container
For example header__container, main__container etc.
*/
[class*=__container] {
  max-width: 77.5rem;
  box-sizing: content-box;
  margin: 0 auto;
  padding: 0 0.9375rem;
}

.block-heading__title {
  font-family: var(--title-font);
  font-weight: 800;
  line-height: 132%;
  color: var(--white-color);
}
@supports (font-size: clamp( 1.625rem , calc(1.4565789474rem + 0.8421052632vw) , 2.125rem )) {
  .block-heading__title {
    font-size: clamp( 1.625rem , calc(1.4565789474rem + 0.8421052632vw) , 2.125rem );
  }
}
@supports not (font-size: clamp( 1.625rem , calc(1.4565789474rem + 0.8421052632vw) , 2.125rem )) {
  .block-heading__title {
    font-size: calc(1.625rem + 0.5 * (100vw - 20rem) / 59.375);
  }
}
.block-heading__title_line {
  position: relative;
  padding-left: 1.25rem;
  color: var(--text-color);
}
@supports (margin-bottom: clamp( 1.875rem , calc(1.0328947368rem + 4.2105263158vw) , 4.375rem )) {
  .block-heading__title_line {
    margin-bottom: clamp( 1.875rem , calc(1.0328947368rem + 4.2105263158vw) , 4.375rem );
  }
}
@supports not (margin-bottom: clamp( 1.875rem , calc(1.0328947368rem + 4.2105263158vw) , 4.375rem )) {
  .block-heading__title_line {
    margin-bottom: calc(1.875rem + 2.5 * (100vw - 20rem) / 59.375);
  }
}
.block-heading__title_line::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  display: inline-block;
  width: 6px;
  height: 30px;
  background-color: var(--primary-1);
  border-radius: 10px;
}
.block-heading__subtitle_upper {
  font-family: var(--selected-font);
  font-weight: 800;
  line-height: 167%;
  letter-spacing: 0.251px;
  color: var(--white-color);
}
@supports (font-size: clamp( 0.875rem , calc(0.7907894737rem + 0.4210526316vw) , 1.125rem )) {
  .block-heading__subtitle_upper {
    font-size: clamp( 0.875rem , calc(0.7907894737rem + 0.4210526316vw) , 1.125rem );
  }
}
@supports not (font-size: clamp( 0.875rem , calc(0.7907894737rem + 0.4210526316vw) , 1.125rem )) {
  .block-heading__subtitle_upper {
    font-size: calc(0.875rem + 0.25 * (100vw - 20rem) / 59.375);
  }
}
.block-heading__subtitle {
  font-family: var(--title-font);
  font-weight: 500;
  line-height: 156%;
  letter-spacing: 0.251px;
  color: var(--white-color);
}
@supports (font-size: clamp( 0.75rem , calc(0.6657894737rem + 0.4210526316vw) , 1rem )) {
  .block-heading__subtitle {
    font-size: clamp( 0.75rem , calc(0.6657894737rem + 0.4210526316vw) , 1rem );
  }
}
@supports not (font-size: clamp( 0.75rem , calc(0.6657894737rem + 0.4210526316vw) , 1rem )) {
  .block-heading__subtitle {
    font-size: calc(0.75rem + 0.25 * (100vw - 20rem) / 59.375);
  }
}
.button-inline {
  display: inline-block;
  font-size: var(--h4-font-size);
  font-weight: 800;
  line-height: 150%;
  font-family: var(--title-font);
  color: var(--white-color);
  text-decoration-line: underline;
  transition: all 0.3s ease 0s;
}

.button-general {
  display: inline-block;
  padding: 1rem 4.5rem;
  background-color: var(--white-color);
  border-radius: 8px;
}
.button-general a {
  font-size: 1.5rem;
  text-align: center;
  font-weight: 700;
  color: var(--text-color);
}

.button-transparent {
  display: inline-block;
  padding: 0.625rem 1.5625rem;
  border: 1px solid var(--white-color);
  border-radius: 4px;
  transition: all 0.3s ease 0s;
}
.button-transparent a {
  font-size: 0.75rem;
  text-align: center;
  font-weight: 500;
  color: var(--white-color);
  transition: all 0.3s ease 0s;
}
@media (hover: hover) {
  .button-transparent:hover {
    background-color: var(--white-color);
  }
  .button-transparent:hover a {
    color: var(--black-color);
  }
}

.card-zone {
  position: relative;
}
.card-zone__block-heading {
  position: absolute;
  top: 50%;
  left: 1.25rem;
  z-index: 2;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
}
@supports (max-width: clamp( 9.375rem , calc(8.6381578947rem + 3.6842105263vw) , 11.5625rem )) {
  .card-zone__block-heading {
    max-width: clamp( 9.375rem , calc(8.6381578947rem + 3.6842105263vw) , 11.5625rem );
  }
}
@supports not (max-width: clamp( 9.375rem , calc(8.6381578947rem + 3.6842105263vw) , 11.5625rem )) {
  .card-zone__block-heading {
    max-width: calc(9.375rem + 2.1875 * (100vw - 20rem) / 59.375);
  }
}
.card-zone__block-heading .block-heading__title {
  margin-bottom: 0.625rem;
  font-weight: 600;
}
.card-zone__block-heading .block-heading__subtitle {
  margin-bottom: 0.625rem;
  font-size: 0.875rem;
}
.card-zone__block-heading .block-heading__subtitle_upper {
  font-weight: 700;
}
.card-zone__arrow {
  width: 1.5rem;
  height: 1.25rem;
  margin-left: 2.8125rem;
  stroke: var(--white-color);
}
@supports (margin-top: clamp( 0.9375rem , calc(0.6217105263rem + 1.5789473684vw) , 1.875rem )) {
  .card-zone__arrow {
    margin-top: clamp( 0.9375rem , calc(0.6217105263rem + 1.5789473684vw) , 1.875rem );
  }
}
@supports not (margin-top: clamp( 0.9375rem , calc(0.6217105263rem + 1.5789473684vw) , 1.875rem )) {
  .card-zone__arrow {
    margin-top: calc(0.9375rem + 0.9375 * (100vw - 20rem) / 59.375);
  }
}
@supports (margin-bottom: clamp( 1.25rem , calc(0.8289473684rem + 2.1052631579vw) , 2.5rem )) {
  .card-zone__arrow {
    margin-bottom: clamp( 1.25rem , calc(0.8289473684rem + 2.1052631579vw) , 2.5rem );
  }
}
@supports not (margin-bottom: clamp( 1.25rem , calc(0.8289473684rem + 2.1052631579vw) , 2.5rem )) {
  .card-zone__arrow {
    margin-bottom: calc(1.25rem + 1.25 * (100vw - 20rem) / 59.375);
  }
}
.card-zone__image {
  width: 100%;
  aspect-ratio: 1;
  object-fit: cover;
  object-position: top;
  border-radius: 12px;
}
@supports (height: clamp( 18.75rem , calc(16.6447368421rem + 10.5263157895vw) , 25rem )) {
  .card-zone__image {
    height: clamp( 18.75rem , calc(16.6447368421rem + 10.5263157895vw) , 25rem );
  }
}
@supports not (height: clamp( 18.75rem , calc(16.6447368421rem + 10.5263157895vw) , 25rem )) {
  .card-zone__image {
    height: calc(18.75rem + 6.25 * (100vw - 20rem) / 59.375);
  }
}
.card-zone_right .card-zone__block-heading {
  left: initial;
  right: 1.25rem;
  align-items: flex-end;
  text-align: right;
}
.card-zone_right .card-zone__arrow {
  margin-right: 2.8125rem;
}
.card-zone_gray .block-heading__title, .card-zone_gray .block-heading__subtitle, .card-zone_gray .block-heading__subtitle_upper {
  color: var(--text-color);
}
.card-zone_gray .card-zone__arrow {
  stroke: var(--text-color);
}
.card-zone_gray .card-zone__button-transparent {
  border: 1px solid var(--text-color);
}
.card-zone_gray .card-zone__button-transparent a {
  color: var(--text-color);
}
@media (hover: hover) {
  .card-zone_gray .card-zone__button-transparent:hover {
    background-color: var(--text-color);
  }
  .card-zone_gray .card-zone__button-transparent:hover a {
    color: var(--white-color);
  }
}
@supports (right: clamp( 1.25rem , calc(-0.4342105263rem + 8.4210526316vw) , 6.25rem )) {
  .card-zone[data-long-image] .card-zone__block-heading {
    right: clamp( 1.25rem , calc(-0.4342105263rem + 8.4210526316vw) , 6.25rem );
  }
}
@supports not (right: clamp( 1.25rem , calc(-0.4342105263rem + 8.4210526316vw) , 6.25rem )) {
  .card-zone[data-long-image] .card-zone__block-heading {
    right: calc(1.25rem + 5 * (100vw - 20rem) / 59.375);
  }
}

@media (min-width: 20rem) {
  .categories-block {
    width: 48%;
  }
}
@media (min-width: 37.5rem) {
  .categories-block {
    width: 32%;
  }
}
@media (min-width: 59.375rem) {
  .categories-block {
    width: 22%;
  }
}
.categories-block__link {
  display: block;
  width: 100%;
  height: 100%;
}
@media (hover: hover) {
  .categories-block__link:hover .categories-block__arrow {
    transform: translateX(10px);
  }
}
.categories-block__image {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  object-fit: cover;
}
.categories-block__info {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1.25rem;
}
.categories-block__block-heading {
  flex: 1 1 auto;
}
.categories-block__block-heading .block-heading__title {
  margin-bottom: 0.3125rem;
  font-weight: 700;
  line-height: 156%;
  color: var(--text-color);
}
@supports (font-size: clamp( 0.875rem , calc(0.7907894737rem + 0.4210526316vw) , 1.125rem )) {
  .categories-block__block-heading .block-heading__title {
    font-size: clamp( 0.875rem , calc(0.7907894737rem + 0.4210526316vw) , 1.125rem );
  }
}
@supports not (font-size: clamp( 0.875rem , calc(0.7907894737rem + 0.4210526316vw) , 1.125rem )) {
  .categories-block__block-heading .block-heading__title {
    font-size: calc(0.875rem + 0.25 * (100vw - 20rem) / 59.375);
  }
}
.categories-block__block-heading .block-heading__subtitle {
  font-size: 0.8125rem;
  font-weight: 500;
  line-height: 208%;
  color: var(--subtext-color);
}
.categories-block__arrow {
  width: 18px;
  height: 18px;
  transition: all 0.3s ease 0s;
}

.clothes-block {
  position: relative;
}
@media (min-width: 20rem) {
  .clothes-block {
    width: 48%;
  }
}
@media (min-width: 37.5rem) {
  .clothes-block {
    width: 32%;
  }
}
@media (min-width: 59.375rem) {
  .clothes-block {
    width: 22%;
  }
}
.clothes-block__heart {
  position: absolute;
  top: 6%;
  right: 8%;
  z-index: 2;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  fill: var(--white-color);
  stroke: var(--text-color);
  transition: all 0.3s ease 0s;
}
@media (hover: hover) {
  .clothes-block__heart:hover {
    cursor: pointer;
    stroke: var(--red-color);
    transform: scale(1.05);
  }
}
.clothes-block__image {
  width: 100%;
  height: 100%;
  border-radius: 12px;
  object-fit: cover;
  user-select: none;
}
.clothes-block__info {
  display: flex;
  justify-content: center;
  align-items: start;
  margin-top: 1.875rem;
}
.clothes-block__block-heading {
  flex: 1 1 auto;
}
.clothes-block__block-heading .block-heading__title {
  margin-bottom: 0.3125rem;
  font-size: 0.875rem;
  font-weight: 700;
  line-height: 156%;
  color: var(--text-color);
}
.clothes-block__block-heading .block-heading__subtitle {
  font-size: 0.75rem;
  font-weight: 500;
  line-height: 208%;
  color: var(--subtext-color);
}
.clothes-block__price {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 5rem;
  height: 2.1875rem;
  background-color: #F6F6F6;
  border-radius: 8px;
}
.clothes-block__price p {
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 700;
  color: var(--text-color);
}

.testimonial {
  max-width: 25rem;
  height: 100%;
  margin: 0 auto;
  padding: 1.5rem;
  border: 2px solid var(--subtext-color);
  border-radius: 10px;
}
.testimonial__info {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
.testimonial__photo {
  width: 3.625rem;
  height: 3.625rem;
  object-fit: cover;
}
.testimonial__stars {
  flex: 1 1 auto;
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 0.25rem;
  fill: var(--subtext-color);
}
.testimonial__stars[data-stars-counter="1"] svg:nth-child(-n+1) {
  fill: var(--primary-2);
}
.testimonial__stars[data-stars-counter="2"] svg:nth-child(-n+2) {
  fill: var(--primary-2);
}
.testimonial__stars[data-stars-counter="3"] svg:nth-child(-n+3) {
  fill: var(--primary-2);
}
.testimonial__stars[data-stars-counter="4"] svg:nth-child(-n+4) {
  fill: var(--primary-2);
}
.testimonial__stars[data-stars-counter="5"] svg:nth-child(-n+5) {
  fill: var(--primary-2);
}
.testimonial__stars svg {
  width: 1.4375rem;
  height: 1.4375rem;
}
.testimonial__block-heading .block-heading__title {
  margin: 1.25rem 0;
  font-size: 1.375rem;
  font-family: var(--title-font);
  font-weight: 500;
  letter-spacing: 0.44px;
  color: var(--text-color);
}
.testimonial__block-heading .block-heading__text {
  font-size: 0.875rem;
  font-weight: 400;
  font-style: normal;
  line-height: normal;
  letter-spacing: 0.0175rem;
  color: var(--subtext-color);
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 4;
  width: 100%;
  background-color: var(--white-color);
  box-shadow: 0 0 10px var(--subtext-color);
}
.menu__body {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 1.875rem 0;
}
@media (max-width: 58.4375rem) {
  .menu__body {
    row-gap: 0.9375rem;
  }
  @supports (column-gap: clamp( 0.75rem , calc(0.3710526316rem + 1.8947368421vw) , 1.875rem )) {
    .menu__body {
      column-gap: clamp( 0.75rem , calc(0.3710526316rem + 1.8947368421vw) , 1.875rem );
    }
  }
  @supports not (column-gap: clamp( 0.75rem , calc(0.3710526316rem + 1.8947368421vw) , 1.875rem )) {
    .menu__body {
      column-gap: calc(0.75rem + 1.125 * (100vw - 20rem) / 59.375);
    }
  }
}
.menu__logo svg {
  width: 5.625rem;
  height: 2.8125rem;
}
@media (max-width: 58.4375rem) {
  .menu__logo {
    flex: 1 1 auto;
  }
}
.menu__list {
  display: flex;
  justify-content: center;
  align-items: center;
}
@supports (gap: clamp( 0.9375rem , calc(0.4111842105rem + 2.6315789474vw) , 2.5rem )) {
  .menu__list {
    gap: clamp( 0.9375rem , calc(0.4111842105rem + 2.6315789474vw) , 2.5rem );
  }
}
@supports not (gap: clamp( 0.9375rem , calc(0.4111842105rem + 2.6315789474vw) , 2.5rem )) {
  .menu__list {
    gap: calc(0.9375rem + 1.5625 * (100vw - 20rem) / 59.375);
  }
}
@media (max-width: 58.4375rem) {
  .menu__list {
    position: absolute;
    top: -100vh;
    left: 0;
    z-index: 5;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    gap: 1.875rem;
    width: 100%;
    height: 100vh;
    padding: 3.125rem 0;
    background-color: var(--subtext-color);
    transition: all 0.3s ease 0s;
    opacity: 0;
  }
  .menu__list.active {
    top: 0;
    opacity: 1;
  }
}
.menu__link {
  font-size: 1.375rem;
  font-weight: 500;
  color: var(--subtext-color);
  transition: all 0.3s ease 0s;
}
@media (hover: hover) {
  .menu__link:hover {
    color: var(--black-color);
  }
}
@media (max-width: 58.4375rem) {
  .menu__link {
    font-size: var(--h3-font-size);
    color: var(--white-color);
  }
}
.menu__search {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: var(--h6-font-size);
  background-color: #F6F6F6;
  border-radius: 8px;
}
@media (max-width: 40rem) {
  .menu__search {
    width: 100%;
    order: 1;
  }
}
.menu__searcher {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0.75rem 0.375rem 0.75rem 1.25rem;
}
.menu__searcher svg {
  width: 1.25rem;
  height: 1.25rem;
  fill: #807D7E;
  transition: all 0.3s ease 0s;
}
@media (hover: hover) {
  .menu__searcher:hover svg {
    fill: var(--black-color);
  }
}
.menu__input {
  height: 2.75rem;
  padding: 0 1.25rem 0 0.375rem;
  background-color: #F6F6F6;
  border-radius: 8px;
  outline: none;
}
.menu__input:hover {
  cursor: pointer;
}
.menu__input::placeholder {
  color: var(--subtext-color);
  transition: all 0.3s ease 0s;
}
.menu__input:focus::placeholder {
  transform: translateY(-50px);
}
@media (max-width: 40rem) {
  .menu__input {
    width: 100%;
  }
}
.menu__icons {
  display: flex;
  justify-content: center;
  align-items: center;
}
@supports (gap: clamp( 0.3125rem , calc(0.1651315789rem + 0.7368421053vw) , 0.75rem )) {
  .menu__icons {
    gap: clamp( 0.3125rem , calc(0.1651315789rem + 0.7368421053vw) , 0.75rem );
  }
}
@supports not (gap: clamp( 0.3125rem , calc(0.1651315789rem + 0.7368421053vw) , 0.75rem )) {
  .menu__icons {
    gap: calc(0.3125rem + 0.4375 * (100vw - 20rem) / 59.375);
  }
}
.menu__icons svg {
  width: 2.75rem;
  height: 2.75rem;
  fill: #F6F6F6;
  transition: all 0.3s ease 0s;
}
@media (hover: hover) {
  .menu__icons svg:hover {
    fill: var(--subtext-color);
  }
}

.icon-menu {
  display: none;
}
@media (max-width: 58.4375rem) {
  .icon-menu {
    display: block;
    position: relative;
    width: 1.875rem;
    height: 1.125rem;
    cursor: pointer;
    z-index: 5;
  }
  .icon-menu span, .icon-menu::before, .icon-menu::after {
    content: "";
    transition: all 0.3s ease 0s;
    right: 0;
    position: absolute;
    width: 100%;
    height: 0.125rem;
    background-color: #000;
  }
  .icon-menu::before {
    top: 0;
  }
  .icon-menu::after {
    bottom: 0;
  }
  .icon-menu span {
    top: calc(50% - 0.0625rem);
  }
  .icon-menu.menu-open span {
    width: 0;
  }
  .icon-menu.menu-open span, .icon-menu.menu-open::before, .icon-menu.menu-open::after {
    background-color: var(--white-color);
  }
  .icon-menu.menu-open::before {
    top: calc(50% - 0.0625rem);
    transform: rotate(-45deg);
  }
  .icon-menu.menu-open::after {
    bottom: calc(50% - 0.0625rem);
    transform: rotate(45deg);
  }
}

.footer {
  background-color: var(--text-color);
}
@supports (padding-top: clamp( 1.875rem , calc(1.2434210526rem + 3.1578947368vw) , 3.75rem )) {
  .footer {
    padding-top: clamp( 1.875rem , calc(1.2434210526rem + 3.1578947368vw) , 3.75rem );
  }
}
@supports not (padding-top: clamp( 1.875rem , calc(1.2434210526rem + 3.1578947368vw) , 3.75rem )) {
  .footer {
    padding-top: calc(1.875rem + 1.875 * (100vw - 20rem) / 59.375);
  }
}
@supports (padding-bottom: clamp( 1.875rem , calc(1.2434210526rem + 3.1578947368vw) , 3.75rem )) {
  .footer {
    padding-bottom: clamp( 1.875rem , calc(1.2434210526rem + 3.1578947368vw) , 3.75rem );
  }
}
@supports not (padding-bottom: clamp( 1.875rem , calc(1.2434210526rem + 3.1578947368vw) , 3.75rem )) {
  .footer {
    padding-bottom: calc(1.875rem + 1.875 * (100vw - 20rem) / 59.375);
  }
}
.footer__links {
  margin-top: 1.25rem;
}
.pages-footer {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
}
@supports (gap: clamp( 1.875rem , calc(0.8223684211rem + 5.2631578947vw) , 5rem )) {
  .pages-footer {
    gap: clamp( 1.875rem , calc(0.8223684211rem + 5.2631578947vw) , 5rem );
  }
}
@supports not (gap: clamp( 1.875rem , calc(0.8223684211rem + 5.2631578947vw) , 5rem )) {
  .pages-footer {
    gap: calc(1.875rem + 3.125 * (100vw - 20rem) / 59.375);
  }
}
@media (max-width: 29.6875rem) {
  .pages-footer {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
}
.pages-footer__header {
  margin-bottom: 0.9375rem;
  font-weight: 700;
  line-height: 216.9%;
  color: var(--white-color);
}
@supports (font-size: clamp( 1.25rem , calc(1.0815789474rem + 0.8421052632vw) , 1.75rem )) {
  .pages-footer__header {
    font-size: clamp( 1.25rem , calc(1.0815789474rem + 0.8421052632vw) , 1.75rem );
  }
}
@supports not (font-size: clamp( 1.25rem , calc(1.0815789474rem + 0.8421052632vw) , 1.75rem )) {
  .pages-footer__header {
    font-size: calc(1.25rem + 0.5 * (100vw - 20rem) / 59.375);
  }
}
.pages-footer__list {
  display: flex;
  flex-direction: column;
  gap: 0.3125rem;
}
.pages-footer__link {
  font-weight: 500;
  font-style: normal;
  line-height: 216.9%;
  color: var(--white-color);
  transition: all 0.3s ease 0s;
}
@supports (font-size: clamp( 0.875rem , calc(0.7907894737rem + 0.4210526316vw) , 1.125rem )) {
  .pages-footer__link {
    font-size: clamp( 0.875rem , calc(0.7907894737rem + 0.4210526316vw) , 1.125rem );
  }
}
@supports not (font-size: clamp( 0.875rem , calc(0.7907894737rem + 0.4210526316vw) , 1.125rem )) {
  .pages-footer__link {
    font-size: calc(0.875rem + 0.25 * (100vw - 20rem) / 59.375);
  }
}
@media (hover: hover) {
  .pages-footer__link:hover {
    text-decoration: underline;
  }
}
.pages-footer__text {
  font-weight: 500;
  font-style: normal;
  line-height: 216.9%;
  color: var(--white-color);
}
@supports (font-size: clamp( 0.875rem , calc(0.7907894737rem + 0.4210526316vw) , 1.125rem )) {
  .pages-footer__text {
    font-size: clamp( 0.875rem , calc(0.7907894737rem + 0.4210526316vw) , 1.125rem );
  }
}
@supports not (font-size: clamp( 0.875rem , calc(0.7907894737rem + 0.4210526316vw) , 1.125rem )) {
  .pages-footer__text {
    font-size: calc(0.875rem + 0.25 * (100vw - 20rem) / 59.375);
  }
}

.socials-links {
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
@media (max-width: 37.5rem) {
  .socials-links {
    flex-direction: column;
    align-items: center;
    gap: 0.9375rem;
    text-align: center;
  }
}
.socials-links__socials {
  flex: 1 1 auto;
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 0.625rem;
}
.socials-links__socials svg {
  width: 2.3125rem;
  height: 2.3125rem;
  transition: all 0.3s ease 0s;
}
@media (hover: hover) {
  .socials-links__socials svg:hover {
    transform: translateY(-5px) scale(1.05);
  }
}
.socials-links__title {
  font-weight: 700;
  line-height: 216.9%;
  color: var(--white-color);
}
@supports (margin-bottom: clamp( 0.0000000625rem , calc(-0.421052548rem + 2.1052630526vw) , 1.25rem )) {
  .socials-links__title {
    margin-bottom: clamp( 0.0000000625rem , calc(-0.421052548rem + 2.1052630526vw) , 1.25rem );
  }
}
@supports not (margin-bottom: clamp( 0.0000000625rem , calc(-0.421052548rem + 2.1052630526vw) , 1.25rem )) {
  .socials-links__title {
    margin-bottom: calc(0.0000000625rem + 1.2499999375 * (100vw - 20rem) / 59.375);
  }
}
@supports (font-size: clamp( 1.25rem , calc(1.0815789474rem + 0.8421052632vw) , 1.75rem )) {
  .socials-links__title {
    font-size: clamp( 1.25rem , calc(1.0815789474rem + 0.8421052632vw) , 1.75rem );
  }
}
@supports not (font-size: clamp( 1.25rem , calc(1.0815789474rem + 0.8421052632vw) , 1.75rem )) {
  .socials-links__title {
    font-size: calc(1.25rem + 0.5 * (100vw - 20rem) / 59.375);
  }
}
.socials-links__images {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.25rem;
}
@media (max-width: 21.875rem) {
  .socials-links__images {
    flex-direction: column;
    gap: 0.625rem;
  }
}
.socials-links__images img {
  transition: all 0.3s ease 0s;
}
@media (hover: hover) {
  .socials-links__images img:hover {
    transform: scaleX(1.05);
  }
}

.copyright {
  text-align: center;
  color: var(--white-color);
  border-top: 3px solid var(--white-color);
}
@supports (margin-top: clamp( 0.9375rem , calc(0.4111842105rem + 2.6315789474vw) , 2.5rem )) {
  .copyright {
    margin-top: clamp( 0.9375rem , calc(0.4111842105rem + 2.6315789474vw) , 2.5rem );
  }
}
@supports not (margin-top: clamp( 0.9375rem , calc(0.4111842105rem + 2.6315789474vw) , 2.5rem )) {
  .copyright {
    margin-top: calc(0.9375rem + 1.5625 * (100vw - 20rem) / 59.375);
  }
}
@supports (padding-top: clamp( 0.9375rem , calc(0.4111842105rem + 2.6315789474vw) , 2.5rem )) {
  .copyright {
    padding-top: clamp( 0.9375rem , calc(0.4111842105rem + 2.6315789474vw) , 2.5rem );
  }
}
@supports not (padding-top: clamp( 0.9375rem , calc(0.4111842105rem + 2.6315789474vw) , 2.5rem )) {
  .copyright {
    padding-top: calc(0.9375rem + 1.5625 * (100vw - 20rem) / 59.375);
  }
}
@supports (font-size: clamp( 0.875rem , calc(0.7907894737rem + 0.4210526316vw) , 1.125rem )) {
  .copyright__text {
    font-size: clamp( 0.875rem , calc(0.7907894737rem + 0.4210526316vw) , 1.125rem );
  }
}
@supports not (font-size: clamp( 0.875rem , calc(0.7907894737rem + 0.4210526316vw) , 1.125rem )) {
  .copyright__text {
    font-size: calc(0.875rem + 0.25 * (100vw - 20rem) / 59.375);
  }
}
.copyright__author {
  display: inline-block;
  margin-top: 0.9375rem;
  transition: all 0.3s ease 0s;
}
@supports (font-size: clamp( 0.75rem , calc(0.6657894737rem + 0.4210526316vw) , 1rem )) {
  .copyright__author {
    font-size: clamp( 0.75rem , calc(0.6657894737rem + 0.4210526316vw) , 1rem );
  }
}
@supports not (font-size: clamp( 0.75rem , calc(0.6657894737rem + 0.4210526316vw) , 1rem )) {
  .copyright__author {
    font-size: calc(0.75rem + 0.25 * (100vw - 20rem) / 59.375);
  }
}
@media (hover: hover) {
  .copyright__author:hover {
    text-decoration: underline;
  }
}

@supports (margin-top: clamp( 3.125rem , calc(1.4407894737rem + 8.4210526316vw) , 8.125rem )) {
  .page__news {
    margin-top: clamp( 3.125rem , calc(1.4407894737rem + 8.4210526316vw) , 8.125rem );
  }
}
@supports not (margin-top: clamp( 3.125rem , calc(1.4407894737rem + 8.4210526316vw) , 8.125rem )) {
  .page__news {
    margin-top: calc(3.125rem + 5 * (100vw - 20rem) / 59.375);
  }
}
@supports (margin-top: clamp( 3.125rem , calc(2.0723684211rem + 5.2631578947vw) , 6.25rem )) {
  .page__arrival {
    margin-top: clamp( 3.125rem , calc(2.0723684211rem + 5.2631578947vw) , 6.25rem );
  }
}
@supports not (margin-top: clamp( 3.125rem , calc(2.0723684211rem + 5.2631578947vw) , 6.25rem )) {
  .page__arrival {
    margin-top: calc(3.125rem + 3.125 * (100vw - 20rem) / 59.375);
  }
}
@supports (margin-top: clamp( 3.125rem , calc(2.0723684211rem + 5.2631578947vw) , 6.25rem )) {
  .page__saving-zone {
    margin-top: clamp( 3.125rem , calc(2.0723684211rem + 5.2631578947vw) , 6.25rem );
  }
}
@supports not (margin-top: clamp( 3.125rem , calc(2.0723684211rem + 5.2631578947vw) , 6.25rem )) {
  .page__saving-zone {
    margin-top: calc(3.125rem + 3.125 * (100vw - 20rem) / 59.375);
  }
}
@supports (margin-top: clamp( 3.125rem , calc(2.0723684211rem + 5.2631578947vw) , 6.25rem )) {
  .page__for-men {
    margin-top: clamp( 3.125rem , calc(2.0723684211rem + 5.2631578947vw) , 6.25rem );
  }
}
@supports not (margin-top: clamp( 3.125rem , calc(2.0723684211rem + 5.2631578947vw) , 6.25rem )) {
  .page__for-men {
    margin-top: calc(3.125rem + 3.125 * (100vw - 20rem) / 59.375);
  }
}
@supports (margin-top: clamp( 2.1875rem , calc(1.1348684211rem + 5.2631578947vw) , 5.3125rem )) {
  .page__for-women {
    margin-top: clamp( 2.1875rem , calc(1.1348684211rem + 5.2631578947vw) , 5.3125rem );
  }
}
@supports not (margin-top: clamp( 2.1875rem , calc(1.1348684211rem + 5.2631578947vw) , 5.3125rem )) {
  .page__for-women {
    margin-top: calc(2.1875rem + 3.125 * (100vw - 20rem) / 59.375);
  }
}
@supports (margin-top: clamp( 2.1875rem , calc(1.1348684211rem + 5.2631578947vw) , 5.3125rem )) {
  .page__brands {
    margin-top: clamp( 2.1875rem , calc(1.1348684211rem + 5.2631578947vw) , 5.3125rem );
  }
}
@supports not (margin-top: clamp( 2.1875rem , calc(1.1348684211rem + 5.2631578947vw) , 5.3125rem )) {
  .page__brands {
    margin-top: calc(2.1875rem + 3.125 * (100vw - 20rem) / 59.375);
  }
}
@supports (margin-top: clamp( 3.125rem , calc(2.0723684211rem + 5.2631578947vw) , 6.25rem )) {
  .page__limelights {
    margin-top: clamp( 3.125rem , calc(2.0723684211rem + 5.2631578947vw) , 6.25rem );
  }
}
@supports not (margin-top: clamp( 3.125rem , calc(2.0723684211rem + 5.2631578947vw) , 6.25rem )) {
  .page__limelights {
    margin-top: calc(3.125rem + 3.125 * (100vw - 20rem) / 59.375);
  }
}
@supports (margin-top: clamp( 3.125rem , calc(2.0723684211rem + 5.2631578947vw) , 6.25rem )) {
  .page__feedback {
    margin-top: clamp( 3.125rem , calc(2.0723684211rem + 5.2631578947vw) , 6.25rem );
  }
}
@supports not (margin-top: clamp( 3.125rem , calc(2.0723684211rem + 5.2631578947vw) , 6.25rem )) {
  .page__feedback {
    margin-top: calc(3.125rem + 3.125 * (100vw - 20rem) / 59.375);
  }
}
@supports (margin-bottom: clamp( 3.125rem , calc(2.0723684211rem + 5.2631578947vw) , 6.25rem )) {
  .page__feedback {
    margin-bottom: clamp( 3.125rem , calc(2.0723684211rem + 5.2631578947vw) , 6.25rem );
  }
}
@supports not (margin-bottom: clamp( 3.125rem , calc(2.0723684211rem + 5.2631578947vw) , 6.25rem )) {
  .page__feedback {
    margin-bottom: calc(3.125rem + 3.125 * (100vw - 20rem) / 59.375);
  }
}

.main {
  position: relative;
}
.main__content {
  position: absolute;
  top: 50%;
  z-index: 2;
  transform: translateY(-50%);
  width: 100%;
  max-width: 27.5rem;
}
@supports (margin-bottom: clamp( 0.625rem , calc(-0.0065789474rem + 3.1578947368vw) , 2.5rem )) {
  .main .block-heading > * {
    margin-bottom: clamp( 0.625rem , calc(-0.0065789474rem + 3.1578947368vw) , 2.5rem );
  }
}
@supports not (margin-bottom: clamp( 0.625rem , calc(-0.0065789474rem + 3.1578947368vw) , 2.5rem )) {
  .main .block-heading > * {
    margin-bottom: calc(0.625rem + 1.875 * (100vw - 20rem) / 59.375);
  }
}
@supports (font-size: clamp( 1.625rem , calc(1.4565789474rem + 0.8421052632vw) , 2.125rem )) {
  .main .block-heading__subtitle_upper {
    font-size: clamp( 1.625rem , calc(1.4565789474rem + 0.8421052632vw) , 2.125rem );
  }
}
@supports not (font-size: clamp( 1.625rem , calc(1.4565789474rem + 0.8421052632vw) , 2.125rem )) {
  .main .block-heading__subtitle_upper {
    font-size: calc(1.625rem + 0.5 * (100vw - 20rem) / 59.375);
  }
}
@supports (font-size: clamp( 2.875rem , calc(2.2013157895rem + 3.3684210526vw) , 4.875rem )) {
  .main .block-heading__title {
    font-size: clamp( 2.875rem , calc(2.2013157895rem + 3.3684210526vw) , 4.875rem );
  }
}
@supports not (font-size: clamp( 2.875rem , calc(2.2013157895rem + 3.3684210526vw) , 4.875rem )) {
  .main .block-heading__title {
    font-size: calc(2.875rem + 2 * (100vw - 20rem) / 59.375);
  }
}
@supports (font-size: clamp( 1.625rem , calc(1.4565789474rem + 0.8421052632vw) , 2.125rem )) {
  .main .block-heading__subtitle {
    font-size: clamp( 1.625rem , calc(1.4565789474rem + 0.8421052632vw) , 2.125rem );
  }
}
@supports not (font-size: clamp( 1.625rem , calc(1.4565789474rem + 0.8421052632vw) , 2.125rem )) {
  .main .block-heading__subtitle {
    font-size: calc(1.625rem + 0.5 * (100vw - 20rem) / 59.375);
  }
}
.main__swiper {
  width: 100%;
  height: calc(100vh - 107px);
}
.main__swiper-slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: top right;
}
@media (max-width: 78.125rem) {
  .main__swiper-slide img {
    filter: brightness(70%);
  }
}
.main .swiper-pagination-bullet {
  width: 3.875rem;
  margin: 0 !important;
  background-color: var(--white-color);
  opacity: 0.5;
  border-radius: 0;
}
.main .swiper-pagination-bullet-active {
  opacity: 1;
}
.main .swiper-pagination-bullet:first-child {
  border-top-left-radius: 12px;
  border-bottom-left-radius: 12px;
}
.main .swiper-pagination-bullet:last-child {
  border-top-right-radius: 12px;
  border-bottom-right-radius: 12px;
}
.main__swiper-button-prev {
  color: var(--white-color);
}
@media (max-width: 81.25rem) {
  .main__swiper-button-prev {
    display: none;
  }
}
.main__swiper-button-next {
  color: var(--white-color);
}
@media (max-width: 81.25rem) {
  .main__swiper-button-next {
    display: none;
  }
}

.news__content {
  display: flex;
  justify-content: center;
  align-items: center;
}
@supports (gap: clamp( 0.9375rem , calc(0.6217105263rem + 1.5789473684vw) , 1.875rem )) {
  .news__content {
    gap: clamp( 0.9375rem , calc(0.6217105263rem + 1.5789473684vw) , 1.875rem );
  }
}
@supports not (gap: clamp( 0.9375rem , calc(0.6217105263rem + 1.5789473684vw) , 1.875rem )) {
  .news__content {
    gap: calc(0.9375rem + 0.9375 * (100vw - 20rem) / 59.375);
  }
}
@media (max-width: 53.75rem) {
  .news__content {
    flex-wrap: wrap;
  }
}
.news__block {
  position: relative;
  border-radius: 8px;
  overflow: hidden;
}
@media (max-width: 53.75rem) {
  .news__block {
    width: 100%;
  }
  @supports (height: clamp( 12.5rem , calc(11.4473684211rem + 5.2631578947vw) , 15.625rem )) {
    .news__block {
      height: clamp( 12.5rem , calc(11.4473684211rem + 5.2631578947vw) , 15.625rem );
    }
  }
  @supports not (height: clamp( 12.5rem , calc(11.4473684211rem + 5.2631578947vw) , 15.625rem )) {
    .news__block {
      height: calc(12.5rem + 3.125 * (100vw - 20rem) / 59.375);
    }
  }
}
.news__inner {
  position: absolute;
  top: 50%;
  left: 1.875rem;
  transform: translateY(-50%);
}
@supports (margin-top: clamp( 0.625rem , calc(0.3092105263rem + 1.5789473684vw) , 1.5625rem )) {
  .news .block-heading__title {
    margin-top: clamp( 0.625rem , calc(0.3092105263rem + 1.5789473684vw) , 1.5625rem );
  }
}
@supports not (margin-top: clamp( 0.625rem , calc(0.3092105263rem + 1.5789473684vw) , 1.5625rem )) {
  .news .block-heading__title {
    margin-top: calc(0.625rem + 0.9375 * (100vw - 20rem) / 59.375);
  }
}
@supports (margin-bottom: clamp( 0.3125rem , calc(0.2072368421rem + 0.5263157895vw) , 0.625rem )) {
  .news .block-heading__title {
    margin-bottom: clamp( 0.3125rem , calc(0.2072368421rem + 0.5263157895vw) , 0.625rem );
  }
}
@supports not (margin-bottom: clamp( 0.3125rem , calc(0.2072368421rem + 0.5263157895vw) , 0.625rem )) {
  .news .block-heading__title {
    margin-bottom: calc(0.3125rem + 0.3125 * (100vw - 20rem) / 59.375);
  }
}
@supports (margin-bottom: clamp( 0.625rem , calc(0.2039473684rem + 2.1052631579vw) , 1.875rem )) {
  .news .block-heading__subtitle {
    margin-bottom: clamp( 0.625rem , calc(0.2039473684rem + 2.1052631579vw) , 1.875rem );
  }
}
@supports not (margin-bottom: clamp( 0.625rem , calc(0.2039473684rem + 2.1052631579vw) , 1.875rem )) {
  .news .block-heading__subtitle {
    margin-bottom: calc(0.625rem + 1.25 * (100vw - 20rem) / 59.375);
  }
}
@media (hover: hover) {
  .news .button-inline:hover {
    transform: translateY(-5px);
  }
}
.news__photo img {
  width: 100%;
  border-radius: 12px;
}
@media (max-width: 28.75rem) {
  .news__photo img {
    height: 12.5rem;
    object-fit: cover;
  }
}

.arrival__swiper {
  width: 100%;
  height: 320px;
}
.arrival__block {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.arrival__image {
  max-width: 16.25rem;
  max-height: 16.25rem;
  aspect-ratio: 1/1;
  object-fit: cover;
  border-radius: 12px;
}
.arrival__title {
  width: 100%;
  max-width: 16.25rem;
  font-weight: 700;
  letter-spacing: 0.2px;
  color: #3C4242;
}
@supports (margin-top: clamp( 0.9375rem , calc(0.5796052632rem + 1.7894736842vw) , 2rem )) {
  .arrival__title {
    margin-top: clamp( 0.9375rem , calc(0.5796052632rem + 1.7894736842vw) , 2rem );
  }
}
@supports not (margin-top: clamp( 0.9375rem , calc(0.5796052632rem + 1.7894736842vw) , 2rem )) {
  .arrival__title {
    margin-top: calc(0.9375rem + 1.0625 * (100vw - 20rem) / 59.375);
  }
}
@supports (font-size: clamp( 1rem , calc(0.9157894737rem + 0.4210526316vw) , 1.25rem )) {
  .arrival__title {
    font-size: clamp( 1rem , calc(0.9157894737rem + 0.4210526316vw) , 1.25rem );
  }
}
@supports not (font-size: clamp( 1rem , calc(0.9157894737rem + 0.4210526316vw) , 1.25rem )) {
  .arrival__title {
    font-size: calc(1rem + 0.25 * (100vw - 20rem) / 59.375);
  }
}
.arrival__swiper-button-prev {
  left: 0;
  width: 0.875rem;
  height: 0.75rem;
  transform: rotate(180deg);
}
.arrival__swiper-button-next {
  right: 0;
  width: 0.875rem;
  height: 0.75rem;
}

.saving-zone__inner {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 1.25rem;
}
@media (max-width: 31.25rem) {
  .saving-zone__inner {
    grid-template-columns: 1fr;
  }
}
.saving-zone__card-zone {
  grid-column: span 2;
}
@media (max-width: 71.875rem) {
  .saving-zone__card-zone {
    grid-column: span 3;
  }
}
@media (max-width: 31.25rem) {
  .saving-zone__card-zone {
    grid-column: initial;
  }
}
.saving-zone__card-zone:nth-child(4), .saving-zone__card-zone:nth-child(5) {
  grid-column: span 3;
}
@media (max-width: 71.875rem) {
  .saving-zone__card-zone:nth-child(4), .saving-zone__card-zone:nth-child(5) {
    grid-column: span 6;
  }
}
@media (max-width: 31.25rem) {
  .saving-zone__card-zone:nth-child(4), .saving-zone__card-zone:nth-child(5) {
    grid-column: initial;
  }
}
@media (max-width: 25rem) {
  .saving-zone__card-zone:nth-child(4) img, .saving-zone__card-zone:nth-child(5) img {
    filter: brightness(0.8);
  }
}
.saving-zone__card-zone:nth-child(4) img, .saving-zone__card-zone:nth-child(5) img {
  aspect-ratio: initial;
  object-position: top left;
}
@supports (margin-top: clamp( 3.125rem , calc(2.0723684211rem + 5.2631578947vw) , 6.25rem )) {
  .saving-zone__addition {
    margin-top: clamp( 3.125rem , calc(2.0723684211rem + 5.2631578947vw) , 6.25rem );
  }
}
@supports not (margin-top: clamp( 3.125rem , calc(2.0723684211rem + 5.2631578947vw) , 6.25rem )) {
  .saving-zone__addition {
    margin-top: calc(3.125rem + 3.125 * (100vw - 20rem) / 59.375);
  }
}

.addition-zone {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0;
}
@media (max-width: 62.5rem) {
  .addition-zone {
    flex-direction: column;
  }
}
.addition-zone__block {
  position: relative;
  overflow: hidden;
}
.addition-zone__block:first-child {
  border-top-left-radius: 12px;
  border-bottom-left-radius: 12px;
}
.addition-zone__block:last-child {
  border-top-right-radius: 12px;
  border-bottom-right-radius: 12px;
}
@media (max-width: 62.5rem) {
  .addition-zone__block {
    width: 100%;
    border-radius: 12px;
  }
}
.addition-zone__block-heading {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 2;
  transform: translate(-50%, -50%);
  width: 100%;
}
@supports (max-width: clamp( 15.625rem , calc(11.0986842105rem + 22.6315789474vw) , 29.0625rem )) {
  .addition-zone__block-heading {
    max-width: clamp( 15.625rem , calc(11.0986842105rem + 22.6315789474vw) , 29.0625rem );
  }
}
@supports not (max-width: clamp( 15.625rem , calc(11.0986842105rem + 22.6315789474vw) , 29.0625rem )) {
  .addition-zone__block-heading {
    max-width: calc(15.625rem + 13.4375 * (100vw - 20rem) / 59.375);
  }
}
.addition-zone__block-heading .block-heading__text {
  font-weight: 300;
  line-height: normal;
  letter-spacing: 1px;
  color: var(--white-color);
}
@supports (margin-top: clamp( 0.9375rem , calc(0.6217105263rem + 1.5789473684vw) , 1.875rem )) {
  .addition-zone__block-heading .block-heading__text {
    margin-top: clamp( 0.9375rem , calc(0.6217105263rem + 1.5789473684vw) , 1.875rem );
  }
}
@supports not (margin-top: clamp( 0.9375rem , calc(0.6217105263rem + 1.5789473684vw) , 1.875rem )) {
  .addition-zone__block-heading .block-heading__text {
    margin-top: calc(0.9375rem + 0.9375 * (100vw - 20rem) / 59.375);
  }
}
@supports (margin-bottom: clamp( 1.25rem , calc(0.6184210526rem + 3.1578947368vw) , 3.125rem )) {
  .addition-zone__block-heading .block-heading__text {
    margin-bottom: clamp( 1.25rem , calc(0.6184210526rem + 3.1578947368vw) , 3.125rem );
  }
}
@supports not (margin-bottom: clamp( 1.25rem , calc(0.6184210526rem + 3.1578947368vw) , 3.125rem )) {
  .addition-zone__block-heading .block-heading__text {
    margin-bottom: calc(1.25rem + 1.875 * (100vw - 20rem) / 59.375);
  }
}
.addition-zone__button-transparent {
  background-color: var(--white-color);
  border: none;
  transition: all 0.3s ease 0s;
}
.addition-zone__button-transparent a {
  color: var(--black-color);
  transition: all 0.3s ease 0s;
}
@media (hover: hover) {
  .addition-zone__button-transparent:hover {
    background-color: var(--subtext-color);
  }
  .addition-zone__button-transparent:hover a {
    color: var(--white-color);
  }
}
.addition-zone__image {
  width: 100%;
  object-fit: cover;
}
@media (min-width: 68.75rem) {
  .addition-zone__image {
    max-width: 39.0625rem;
  }
}
@supports (height: clamp( 20rem , calc(13.2631578947rem + 33.6842105263vw) , 40rem )) {
  .addition-zone__image {
    height: clamp( 20rem , calc(13.2631578947rem + 33.6842105263vw) , 40rem );
  }
}
@supports not (height: clamp( 20rem , calc(13.2631578947rem + 33.6842105263vw) , 40rem )) {
  .addition-zone__image {
    height: calc(20rem + 20 * (100vw - 20rem) / 59.375);
  }
}

.for-men__categories {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  row-gap: 0.9375rem;
}

.for-women__categories {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  row-gap: 0.9375rem;
}

.brands__content {
  padding: 2.8125rem 0.9375rem 3.75rem 0.9375rem;
  background-color: var(--text-color);
  border-radius: 12px;
}
.brands__block-heading {
  text-align: center;
}
@supports (margin-bottom: clamp( 1.875rem , calc(1.1381578947rem + 3.6842105263vw) , 4.0625rem )) {
  .brands__block-heading {
    margin-bottom: clamp( 1.875rem , calc(1.1381578947rem + 3.6842105263vw) , 4.0625rem );
  }
}
@supports not (margin-bottom: clamp( 1.875rem , calc(1.1381578947rem + 3.6842105263vw) , 4.0625rem )) {
  .brands__block-heading {
    margin-bottom: calc(1.875rem + 2.1875 * (100vw - 20rem) / 59.375);
  }
}
.brands__block-heading .block-heading__title {
  margin-bottom: 1.5625rem;
  font-weight: 800;
}
@supports (font-size: clamp( 1.875rem , calc(1.4539473684rem + 2.1052631579vw) , 3.125rem )) {
  .brands__block-heading .block-heading__title {
    font-size: clamp( 1.875rem , calc(1.4539473684rem + 2.1052631579vw) , 3.125rem );
  }
}
@supports not (font-size: clamp( 1.875rem , calc(1.4539473684rem + 2.1052631579vw) , 3.125rem )) {
  .brands__block-heading .block-heading__title {
    font-size: calc(1.875rem + 1.25 * (100vw - 20rem) / 59.375);
  }
}
.brands__block-heading .block-heading__subtitle {
  font-size: 1.375rem;
  font-weight: 400;
}
.brands__block-heading .block-heading__subtitle span {
  color: var(--primary-2);
}
.brands__inner {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
@supports (gap: clamp( 0.9375rem , calc(0.7269736842rem + 1.0526315789vw) , 1.5625rem )) {
  .brands__inner {
    gap: clamp( 0.9375rem , calc(0.7269736842rem + 1.0526315789vw) , 1.5625rem );
  }
}
@supports not (gap: clamp( 0.9375rem , calc(0.7269736842rem + 1.0526315789vw) , 1.5625rem )) {
  .brands__inner {
    gap: calc(0.9375rem + 0.625 * (100vw - 20rem) / 59.375);
  }
}
.brands__link {
  transition: all 0.3s ease 0s;
}
@media (hover: hover) {
  .brands__link:hover {
    transform: scaleX(1.05);
  }
}
.limelights__content {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  row-gap: 0.9375rem;
}

.feedback__content {
  position: relative;
}
.feedback__swiper-slide {
  height: initial;
}
.feedback .swiper-pagination-bullet {
  margin: 0 2px !important;
  background-color: var(--subtext-color);
}
.feedback .swiper-pagination-bullet-active {
  background-color: var(--text-color);
}
.feedback .feedback__swiper-pagination {
  bottom: -1.5625rem;
}

/*# sourceMappingURL=style.css.map */
