// Connecting mixins ===========================================================================================================================================================================================================================================================================
@import "base/mixins.scss";

// Connecting fonts ===========================================================================================================================================================================================================================================================================
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@800&family=Open+Sans:wght@500;700;800&family=Poppins:wght@400;500;600;700;800&display=swap');
//&display=swap - add when connecting via plugin

// Connect if there are local font files
//@import "fonts/fonts.scss";

// Connect icon fonts =========================================== ================================================= ================================================= ================================================= ================================================= =========================
// Include if there is an icon font file
//@import "fonts/icons.scss";

// Default font ==============================================================================================================================================================================================================================================================================
$fontFamily: "Poppins", serif;
$fontSize: rem(16); // where 14(px) is the default font size from the layout

// Primary colors
$mainColor: #3C4242; // Default font color

// Variables
// Fonts
@mixin display-font-size {
  @include adaptiveValue("font-size", 78, 46); //78px
}
@mixin h2-font-size {
  @include adaptiveValue("font-size", 34, 26); //34px
}
@mixin h3-font-size {
  @include adaptiveValue("font-size", 28, 20); //28px
}
@mixin h4-font-size {
  @include adaptiveValue("font-size", 20, 16); //20px
}
@mixin h5-font-size {
  @include adaptiveValue("font-size", 18, 14); //18px
}
@mixin h6-font-size {
  @include adaptiveValue("font-size", 16, 12); //16px
}

:root {
  // Fonts and typography
  --display-font-size: 3.625rem; //78px
  --h2-font-size: 2.125rem; //34px
  --h3-font-size: 1.75rem; //28px
  --h4-font-size: 1.25rem; //20px
  --h5-font-size: 1.125rem; //18px
  --h6-font-size: 1rem; //16px

  --title-font:"Open Sans", serif;
  --text-font:"Poppins", serif;
  --selected-font:"Montserrat", serif;

  // Colors
  --white-color: #ffffff;
  --black-color: #000000;
  --red-color: #FF0000FF;

  --primary-1: #8A33FD;
  --primary-2: #FBD103;

  --text-color: #3C4242;
  --subtext-color: #7F7F7F;


}

// SETTINGS ============================================= ================================================= ================================================= ================================================= ================================================= ========================================
// Minimum page width
$minWidth: 320;
// Canvas (layout) width
$maxWidth: 1440;
// Bounding Container Width (0 = No Bounding)
$maxWidthContainer: 1240;
// General container padding
// (30 = 15px left and right, 0 = no padding)
$containerPadding: 30;

// The width of the first breakpoint
$containerWidth: $maxWidthContainer + $containerPadding;

// Break points
$pc: em($containerWidth); // PCs, laptops, some tablets horizontally
$tablet: em(991.98); // Tablets, some phones in landscape position
$mobile: em(767.98); // Phones L
$mobileSmall: em(479.98); // Phones S

// Adaptive type:
// 1 = responsive (container has no breakpoints),
// 2 = by break points (container changes its width by break points)
$responsiveType: 1;

// Zeroing and general parameters ============================================================================================================================================================================================== =============================================================================================== ===============================================================================================
@import "base/null.scss";

body {
  // Scroll locked
  .lock & {
    overflow: hidden;
    touch-action: none;
  }
  // Site loaded
  .loaded & {
  }
}

// Wrapper ============================================================================================================================================================================================================================================================================================================================================================================================================================================
.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  // snuggling footer
  > main {
    flex: 1 1 auto;
  }
  // Fix for sliders
  > * {
    min-width: 0;
  }
}

// Bounding container ======================================================================================================================================================================================================================

/*
(i) Styles will be applied to
to all classes containing *__container
For example header__container, main__container etc.
*/
@if ($responsiveType==1) {
  // Responsive
  [class*="__container"] {
    @if ($maxWidthContainer>0) {
      max-width: rem($maxWidthContainer);
      box-sizing: content-box;
      margin: 0 auto;
    }
    @if ($containerPadding>0) {
      padding: 0 rem(calc($containerPadding / 2));
    }
  }
} @else {
  // By break points
  [class*="__container"] {
    margin: 0 auto;
    @if ($maxWidthContainer>0) {
      max-width: rem($maxWidthContainer);
      box-sizing: content-box;
      @if ($containerPadding>0) {
        padding: 0 rem(calc($containerPadding / 2));
      }
    }
    @media (max-width: $pc) {
      max-width: rem(970);
    }
    @media (max-width: $tablet) {
      max-width: rem(750);
    }
    @media (max-width: $mobile) {
      max-width: none;
      @if ($containerPadding>0 and $maxWidthContainer>0) {
        padding: 0 rem(calc($containerPadding / 2));
      }
    }
  }
}
//@import "base/swiper.scss";

// Connecting styles of common project elements
@import "common.scss";

// Connecting individual block styles
@import "header.scss";
@import "footer.scss";

// Connecting individual page styles
@import "home.scss";